.site-header
{
    
    color:cyan;
    color: #ffdd00;
    /* height: 10vh; */
    font-family:monospace;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

}

.profile-pic
{
    border-radius: 20%;
    height: 200px;
    width: 200px;
    height: 20%;
    width: 20%;
    align-self: center;
    border: #2ec866 2px solid;
    box-shadow: 0 0 1px 1px blue;
    
 
}
.lc
{
    color: white;
}

a
{
    color: white;
    font-size: 14px;
}
body
{   
    margin:0;
    padding: 0;
    line-height: 15px;
    background-color: black;
    border: red 5px solid;
}

.ter_layout
{   
    font-family: monospace;
    padding: 0;
    margin: 10px;
    font-size: 15px;
    color:#2ec866;
    font-size: 12px;
    /* width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center; 
}
